@import "common.css";
@import "sidebar.css";
@import "topbar.css";

:focus {
    outline: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

h2[id=yearDisplay] {
    text-align: center;
    flex-basis: 70%;
}

.weekdays {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    margin-left: 20rem;
    height: 2rem;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-direction: row;
    margin-left: 20rem;
    align-content: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.day {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% * (1/7)));
    max-width: calc((100% * (1/7)));
    text-align: center;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--clr-neutral-700); 
}

.cell {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% * (1/7)));
    max-width: calc((100% * (1/7)));
    text-align: center;
    align-items: center;
    border: 1px solid var(--clr-neutral-700); 
    border-right: 0;
    border-top: 0;
    padding-top: 0.5rem;
}

.date {
    width: 3rem;
}

.date div:hover:not(.selected) {
    background-color: var(--clr-primary-400);
    cursor: pointer;
}

.padding {
    color: var(--clr-neutral-250);
}

.selected {
    outline: 3px solid var(--clr-primary-100);
    outline-offset: 4px;
    border-radius: 50%;
}

.event {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    border-bottom: 1px solid var(--clr-neutral-700);
    align-items: center;
    height: 5rem;
    padding-left: 1.5rem;
}

.eventWeekday {
    flex-basis: 3rem;
}

.eventStart, .eventEnd {
    flex-basis: 5rem;
}

.eventTitle {
    flex-basis: 20rem;
}

.eventEditButton {
    flex-basis: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--clr-neutral-700);
    font-size: 2rem;
    margin-right: 20px;
    margin-left: auto;
}

.sidebar {
    border-right: 1px solid var(--clr-neutral-700);
}