:root {
    --clr-neutral-100: #FFFFFF;
    --clr-neutral-300: #808080;
    --clr-neutral-600: #353535;
    --clr-neutral-700: #1f1f1f;
    --clr-neutral-800: #0F0F0F;
    --clr-neutral-900: #000000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.sidebar-left {
    display: flex;
    width: 20rem;
    height: calc(100vh - 4rem);
    flex-direction: column;
    position: fixed;
    padding: 1rem 1rem;
    margin-top: 4rem;
}

button[id=create] {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-700);
}

button[id=create]:focus, button[id=create]:hover {
    background-color: var(--clr-neutral-600);
}

input {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
}

input::placeholder {
    font-size: 1rem;
}

input[type=text], input[type=password] {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-200);
    border: 2px solid var(--clr-neutral-700);
    padding-left: 10px;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid var(--clr-neutral-300);
}

input[type=button], input[type=submit] {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-100);
    width: calc(50% - 10px);
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    align-self: flex-end;
}

input[id=save] {
    margin-left: 20px;
}

input[type=button]:focus, input[type=button]:hover,
input[type=submit]:focus, input[type=submit]:hover {
    background-color: var(--clr-neutral-600);
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-100);
    font-family: Arial, Helvetica, sans-serif;
}