@import "common.css";
@import "sidebar.css";
@import "topbar.css";

*, *::before, *::after {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sidebar {
    outline: var(--standard-border);
}

h2[id=yearDisplay] {
    text-align: center;
    flex-basis: 70%;
}

h3 {
    margin: 0;
}

.weekdays {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
}

.day {
    flex-basis: calc((100% * (1/7)));
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-direction: row;
    margin-left: 20rem;
    height: calc(100vh - 4rem);
}

.cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc((100% * (1/4)));
    max-width: calc((100% * (1/4)));
    text-align: center;
    align-items: center;
    border-right: 0;
    border-top: 0;
    padding: 2rem;
}

.month {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.date {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% * (1/7)));
    max-width: calc((100% * (1/7)));
    text-align: center;
    align-items: center;
    justify-content: center;
}

.date div:hover:not(.selected) {
    background-color: var(--clr-primary-400);
    cursor: pointer;
}

.padding {
    color: var(--clr-neutral-250);
}

.selected {
    outline: 2px solid var(--clr-primary-100);
    border-radius: 50%;
}